<!DOCTYPE html>
<html lang="es">
    <title>Server Sent Events Playground</title>
    <link href="/static/css/application.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <body ng-app="sse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 interface-container">
                    <h1><a href="/" title="Refrescar">#PyDay2</a></h1>
                    <h5 class="section-title">Últimos Mensajes</h5>
                    <div class="messages-container">
                        <div class="message">
                            <div class="avatar">
                                <div class="anonymous_animal animal-1"></div>
                            </div>

                            <div class="message-text">
                                Hey there!
                            </div>
                        </div>

                        <div class="message">
                            <div class="avatar">
                                <div class="anonymous_animal animal-3"></div>
                            </div>

                            <div class="message-text">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>